<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

    <display-name>Archetype Created Web Application</display-name>
    <!--1.告诉spring的核心配置文件叫什么名字-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <!--2.我给你一个监听器  监听器用来使用上面的配置，加载配置文件-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <!--配置中文乱码过滤器-->
    <filter>
        <filter-name>charactorEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>charactorEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

<!--    <servlet>-->
<!--        <display-name>Utils.beanUtil.UploadServlet</display-name>-->
<!--        <servlet-name>UploadServlet</servlet-name>-->
<!--        <servlet-class>Utils.beanUtil$UploadServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <display-name>Utils.beanUtil.UploadServlet</display-name>-->
<!--        <servlet-name>UploadServlet</servlet-name>-->
<!--        <url-pattern>/PaperlessExamSys_war_exploded/Utils.beanUtil.UploadServlet</url-pattern>-->
<!--    </servlet-mapping>-->
<!--</web-app>-->
    <welcome-file-list>
        <welcome-file>jsp/WelcomeToXiaMenVocationalSkills.jsp</welcome-file>
    </welcome-file-list>
</web-app>
